@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/webfontkit-20191119-152951/ubuntu-b-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/ubuntu-b-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/webfontkit-20191119-152951/ubuntu-light-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/ubuntu-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/webfontkit-20191119-152951/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/webfontkit-20191119-152951/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Gagalin';
    src: url('../../fonts/webfontkit-20191119-152951/gagalin-regular-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Lifehack';
    src: url('../../fonts/webfontkit-20191119-152951/lifehack_medium-webfont.woff2') format('woff2'),
         url('../../fonts/webfontkit-20191119-152951/lifehack_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}