.btn {
    display: inline-block;
    padding: rem(13px) rem(15px);
    background-color: #e45028;
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    
}
.btn__link {
    color: #fff;
}
.btn--color-black {
    background-color: #2f3234; 
    color: #fff;
}
.btn--order {
    color: #fff;
    margin-right: rem(20px);
    font-size: rem(14px);
}