.headline {
    color: #2f3234;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
}
.tagline__headline {
    color: #f9b43b;
}
.headline--about-us {
    display: flex;
    align-self: center;
    margin-bottom: 55px;
}