.headline {
    color: #2f3234;
    font-family: Gagalin;
    font-size: rem(72px);
    font-weight: 400;
}

.headline--about-us {
    text-align: center;
    margin-bottom: rem(55px);
}
.headline--menu {
    color: #fff;
}