
.scroll__icon {
    position: absolute;
    bottom: rem(50px);
    background-image: url(../img/arrow-scroll.png);
    width: rem(29px);
    height: rem(14px);
    display: block;
    left: 50%;
    transform: translateX(-50%);
    @include tablets {
        width: rem(32px);
        height: rem(16px);
    }
}