.tagline__text {
    display: flex;
    color: #ffffff;
    font-family: Lifehack;
    font-size: rem(65px);
    font-weight: 500;
    
}
.tagline__headline {
    color: #f9b43b;
    margin-bottom: rem(30px);
}